.container_hero {
  display: block;
  text-align: left;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(217, 218, 198);
  padding-right: 50%;
}

.title {
}

.text {
  margin-top: 20px;
}
